body{
    background-color: rgb(244, 239, 233);
    margin: 0px;
}

#root,html,body,.container{
    height:100%

}

.navbar{
    background-color:#c3d5e7
}
.navbar-item{
    color:white
}

.register-container{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-row{
    min-width: 400px;
}

.register-label{
    margin-right: 15px;

}

.sender-message-item{
    max-width: 200px;
    min-width: 100px;
    min-height: 70px;
    display: flex;
    margin: 10px;
    align-items: center;
    background: lightcoral;
    color:darkslategray;
    border-radius: 10px;
    padding: 5px;
    float:left
}

.receiver-message-item{
    max-width: 200px;
    min-width: 100px;
    min-height: 70px;
    display: flex;
    margin: 10px;
    align-items: center;
    background: lightgreen;
    color:darkslategray;
    border-radius: 10px;
    padding: 5px;
    float:right
    
}