body{
    background-color: rgb(244, 239, 233);
    margin: 0px;
}

#root,html,body,.container{
    height:100%

}

.navbar{
    background-color:#c3d5e7
}
.navbar-item{
    color:white
}

.register-container{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-row{
    min-width: 400px;
}

.register-label{
    margin-right: 15px;

}